.container {
    height: 500px;
}
.subContainer {
    padding-top: 0px;
}
.radioButton {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-bottom: inset;
    height: 58px;
    align-self: center;
    color: var(--grey2-color);
    margin-right: 20px;
    margin-left: 20px;
}
.radioButton>img {
    margin-left: 8px;
}
.text {
    width: 50px;
}
.rightContainer {
    display: flex;
    gap: 8px;
}

.categories {
    padding-left: 20px;
    padding-right: 20px;
    height: 40vh;
    overflow-y: scroll;
}

.btn {
    border-top: solid 1px #D7D7D9;
    padding: 10px;
    position: sticky;
    bottom: 0;
    background-color: white;
    width: 100%;
    max-width: 600px;
}

.btnFix {
    border-top: solid 1px #D7D7D9;
    padding: 10px;
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    max-width: 600px;
}
.user_not_found{
    color: var(--red-color);
    margin: 15px;
}