.drawerPage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    width: 100%;
    height: 319px;

    padding: 0px;
    /* gap: 32px; */

    justify-content: flex-start;

    border: 1px solid lightgrey;
}

.clientImg{
    height: 215px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.drawerPage :nth-child(3){
    margin-bottom: 12px;
}

.btns {
    display: flex;
    flex-wrap:nowrap;
    justify-content: flex-end;
    gap: 6px;
    /* margin-bottom: 29px; */
    width: 100%;
    padding: 14px;
}

.previewDocument{
   height: 50%;
    scale: 0.5;
}
.previewPage{
    height: 100%;
    scale: 0.5;
}
.previewImg{
    object-fit: contain;
    width: 100%;
}
.upload{
    display: flex;
    width: 365px;
}
.fileUpload{
    display: none
}