.container {
    height: auto;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: var(--grey2-color);
    width: 88%;
    margin: 12px;

}

.btn {
    /* margin-top: 180px; */
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    max-width: 600px
}