.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 37px;
  height: 49px;
  border-radius: 0px;
  border-bottom: 0.5px solid var( --grey4-color);
  padding: 0 40px 0 40px;
}

.main>div {
  font-size: 15px;
  height: 100%;
  color: var( --grey2-color);
  padding: 12px 0 13px 0;
  cursor: pointer;
}

.main>.active {
  color: var(--orange100-color);
  border-bottom: 2px solid var(--orange100-color);
}