.main {
  display: flex;
  gap: 37px;
  height: 49px;
  width: 100%;
  border-radius: 0px;
  border-bottom: 0.5px solid var(--grey4-color);
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.main>div {
  font-size: 15px;
  height: 100%;
  color: var(--grey2-color);
  padding: 12px 0 13px 0;
  cursor: pointer;
}

.main>.active {
  color: var(--orange100-color);
  border-bottom: 2px solid var(--orange100-color);
}