.box{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    align-items: center;
    width: 100%;
}



.title{
    padding: 44px 48px;
}

.input{
    width: 100%;
    padding: 20px 0 15px;
}

.btn{
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

@media only screen and (max-width: 330px) {
    .box{
        padding: 0;
    }
    .sub{
        padding: 20px 24px;
    }
}
@media only screen and (max-width: 374px) {
    .box{
        padding: 0;
    }
    .input{
        padding: 20px 15px 15px;
    }
}
@media only screen and (min-width: 394px) {
    .box{
        padding: 0 30px;
    }
}
@media only screen and (min-width: 424px) {
    .box{
        padding: 0 50px;
    }
}
@media only screen and (min-width: 464px) {
    .box{
        padding: 0 70px;
    }
}
@media only screen and (min-width: 504px) {
    .box{
        padding: 0 90px;
    }
}
@media only screen and (min-width: 544px) {
    .box{
        padding: 0 110px;
    }
}
@media only screen and (min-width: 584px) {
    .box{
        padding: 0 120px;
    }
}