.box{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    align-items: center;
    width: 100%;
}
.title{
    padding: 44px 24px 0 24px;
}
.input{
    width: 100%;
    padding: 0px 0  0 15px;
}
.phoneNum{
    padding: 0 0 15px 0;

}
.someThingWrong{
padding: 0 0 20px 0;
color: var(--orange100-color);
display: flex;
align-items: center;
justify-content: center;
}
.btn{
    align-items: center;
    padding: 10px 0;
    width: 100%;
}
.that_password_is_wrong{
    color: var(--orange100-color);
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 330px) {
    .box{
        padding: 0;
    }

}
@media only screen and (max-width: 374px) {
    .box{
        padding: 0;
    }
    .input{
        padding: 20px 15px 15px;
    }
}
@media only screen and (min-width: 394px) {
    .box{
        padding: 0 30px;
    }
}
@media only screen and (min-width: 424px) {
    .box{
        padding: 0 50px;
    }
}
@media only screen and (min-width: 464px) {
    .box{
        padding: 0 70px;
    }
}
@media only screen and (min-width: 504px) {
    .box{
        padding: 0 90px;
    }
}
@media only screen and (min-width: 544px) {
    .box{
        padding: 0 110px;
    }
}
@media only screen and (min-width: 584px) {
    .box{
        padding: 0 120px;
    }
}