.container {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

}

.keyboard {
    border: none;
    font-family: 'heebo';
    color: var(--grey1-color);
    font-size: 17px;
    border-bottom: inset;
    width: 100%;
    padding: 12px;
    caret-color: var(--orange100-color);
    background-position: right !important;
    padding-right: 35px;
    text-align: right;
    border-radius: 0%;
    height: 58px;
}


.keyboard:focus {
    outline: none;
}

.keyboard::placeholder {
    color: var(--grey3-color);

}