.input {
    border-radius: var(--border-radius);
    border: 1px solid var(--grey4-color);
    width: 80%;
    height: 76px;
    background-color: var(--white-color);
    font-size: 18px;
    font-family: 'Heebo';
    margin: 10%;



}

.input:focus {
    border-radius: var(--border-radius);
    border: 1px solid var(--orange100-color);
    width: 80%;
    height: 76px;
    background-color: var(--white-color);
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.1);
    align-items: center;

    font-size: 18px;
    font-family: 'Heebo';
    margin: 10%;
}

.input::placeholder {

    color: var(--grey3-color);
    font-size: 18px;
    font-family: 'Heebo';
    padding-right: 2%;


}