.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    direction: ltr;
}

.input {
    width: 75px;
    height: 76px;
    border: 1px solid var(--grey4-color);
    border-radius: 12px;
    font-size: 70px;
    text-align: center;
}

.input:focus {
    /* outline-width: 0; */
    outline: none;
    border: 1px solid var(--orange100-color);

}

.active {
    border: 1px solid var(--orange100-color);
}