.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px 0 10px 0;
    direction: ltr;
}



.input {

    width: 23%;
    height: 76px;
    border: 1px solid var(--grey4-color);
    border-radius: var(--border-radius);
    font-size: 52px;
    text-align: center;
    font-weight: 700;
    font-family: heebo;
}

.input:focus {
    /* outline-width: 0; */
    outline: none;
    border: 1px solid var(--orange100-color);

}

.active {
    border: 1px solid var(--orange100-color);
}