.img {
  width: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.text {
  height: 22px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: right;

  /* Greyscale/Gray 2 */

  color: #7c818d;
}
