
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: orangered;
    opacity: 0;
    animation: fadeIn 2.4s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    20% {opacity: 1;}
    70% {opacity: 1;}
    100% { opacity: 0; }
  }

/* .logo {
    padding-top: 7rem;
} */

.text1 {
    position: relative;
    color: #FFF;
    top: 33vh;
}