.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: orangered;


}

.logo {
    padding-top: 75%;
    

}

.text1 {
    color: #FFF;
    padding-top: 65%;
}