.page {
    padding: 0 15px;
}

.title {
    width: 73%;
    height: 70px;

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #292D35;

    margin: 32px 0 20px 0;

}

.text {
    width: 100%;
    min-height: 100px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #7C818D;

    margin-bottom: 32px;
}

.pdf > :nth-child(1),
.pdf > :nth-child(2),
.pdf > :nth-child(3),
.pdf > :nth-child(4){
    margin: 16px 0;
}
.pdf > :nth-child(1){
    margin-top: 32px;
}
.pdf > :nth-child(4){
    margin-bottom: 42px;
}

.btns {
    display: flex;
    flex-wrap:nowrap;
    justify-content: flex-end;
    gap: 6px;
    /* margin-bottom: 29px; */
    width: 100%;
    padding: 14px;
}

.boxHolder {
    border-radius: 12px;
    border: 1px solid gray;
    width: 52px;
    height: 52px;
}