.container {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: var(--grey2-color);
    justify-content: center;
    padding:  0 10px  0 10px;
    text-align: center;
    
}

b {
    color: var(--orange100-color);
}