.containerOff {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 600px;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    overflow: hidden;
    flex-direction: column-reverse;
    transition: 0.7s;
}

.containerOn {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 600px;
    bottom: 0;
    z-index: 49;
    opacity: 1;
    overflow: hidden;
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column-reverse;
}

.lower {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 24px;
    border-bottom: 1.5px solid var(--grey3-color);
    width: 37.9px;
}

.popUp {
    position: relative;
    background-color: white;
    width: 100%;
    max-height: 85%;
    z-index: 500;
    border-radius: 12px 12px 0 0;
    transform: translateY(0);
    transition: 0.7s;
    overflow: auto;
    padding-top: 0;
}

.popDown {
    position: relative;
    background-color: white;
    width: 100%;
    border-radius: 12px;
    transform: translateY(100%);
    transition: 0.7s;
}