.drawerPage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    width: 100%;
    /* height: 185px; */

    padding: 0px;
    /* gap: 32px; */

    justify-content: center;

    border: 1px solid lightgrey;
}

.upload {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 9px 16px;
    /* gap: 12px; */

    width: 100%;
    height: 58px;
}

.fileUpload {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.upload label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.upload label img {
    margin-left: 8px;
}

input[type=file]::file-selector-button {
    content: "";
    color: rgb(0, 0, 0);
    background-color: white;
    height: 2rem;
    border: 2px solid aqua;
    border-radius: 20px;
}

input[type=file]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
}