.completed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--orange5-color);
    border-radius: 12px;
    height: 52px;
}

.completedInfo {
    padding: 0px 15px;
    color: var(--orange100-color);
}