.ListItem{
    width: 100%;
    height: fit-content;
    list-style: none;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.triangle{
    margin-left: 11.5px;
    margin-right: -0.5px;
    height: 11px;
    width: 13px;
    color: var(--orange100-color);
}
.circle{
    margin-left: 12px;
    /* margin-right: 15px; */
    height: 11px;
    width: 12px;
}
.checked{
    margin-left: 15px;
}
.row{
    display: flex;
    align-items: center;
}
.col{
    width: 100%;
    height: 100%;
    border-bottom: solid 0.5px #D7D7D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 0;
}
.current{
    color:#4B4F57;
    font-weight: 500;
    font-size: 17px;
}
.mainGrey{
    color: var(--grey2-color);
    font-size: 17px;
}
.mainGreyBold{
    color: var(--grey2-color);
    font-size: 17px;
    font-weight: 500;
}
.grey{
    width: 100%;
    height: 100%;
    color:#7C818D;
    font-size: 17px;
    border-bottom: solid 1px #D7D7D9;
    display: flex;
    align-items: center;
    padding: 16px 0;
}
.firstStep{
    margin-right: 16px;
    color:#7C818D;
    background: #F5F5F5;
    border-radius: 4px;
    padding: 0px 4px;
    font-size: 13px;
    /* width: 77px; */
    height: 19px;
}
.done{
    font-size: 13px;
    color: var(--orange100-color);
    height: 19px;
}
.secondaryTitle{
    color:#7C818D;
    font-size: 13px;
}
.secondaryTitleWeight{
    color:#7C818D;
    font-size: 13px;
    font-weight: 500;
    margin-right: 4px;
}
.secondaryTitleTriangle{
    color:#7C818D;
    font-size: 13px;
    margin: 0 4px;
}
.secondaryBold{
    color:#7C818D;
    font-size: 13px;
    font-weight: 500;
}
.timeOrange{
    background: rgba(255, 79, 0, 0.1);
    border-radius: 4px;
    color: var(--orange100-color);
    margin-right: 8px;
    font-size: 13px;
    padding: 0px 4px;
}
.timeGrey{
    background: var(--grey5-color);
    border-radius: 4px;
    color: var(--grey2-color);
    margin-right: 8px;
    font-size: 13px;
    padding: 0px 4px;
}
.timeEndOrange{
    background: rgba(255, 79, 0, 0.1);
    border-radius: 4px;
    color: var(--orange100-color);
    margin-right: auto;
    font-size: 13px;
    padding: 0px 4px;
}
.timeEndGrey{
    background: var(--grey5-color);
    border-radius: 4px;
    color: var(--grey2-color);
    margin-right: auto;
    font-size: 13px;
    padding: 0px 4px;
}