.name {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 45px);
    padding: 0px 15px;
    list-style-type: none;
    justify-content: space-between;
}

.btn_log_off {
 
    margin-bottom: 15px;
}