.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;

    width: 100%;
    height: 45px;
}

.svgDiv {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 26px;
    color: var(--grey1-color);
}

.container div:nth-child(2) {
    display: flex;
    align-items: center;
    height: 100%;
    width: 97px;
}
