.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 12px 0;

    width: 100%;
    height: 53px;
    /* Greyscale/White */

    background: var(--white-color);
    /* Color/Orange 100 */

    /* border: 1px solid var(--orange100-color); */
    border: 1px solid var(--grey4-color);
    /* color: var(--grey4-color); */

    border-radius: var(--border-radius);

}

.container img {
    width: 24px;
    height: 24px;
    margin-right: 14.5px;
}

.container label {
    width: 80%;
    height: 29px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 162%;

    margin-right: 21.19px;

    display: flex;
    align-items: center;

    color: var(--grey4-color);
}

.container.active {
    border: 1px solid var(--orange100-color);
}

label.active {
    color: var(--orange100-color);
}

img.active{
    fill: blue;

}