.btn {
    border-radius: 12px;
    height: 52px;
    width: 100%;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    padding: 0 0 0 20px ;
}
.btn > img{
    padding-left: 12px;
}
.gray{
    background-color: var(--grey1-color);
    color: #FFFFFF;
}
.lite{
    background-color: var(--grey5-color);
    color: var(--grey2-color);
}
.con {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.line{
    border-top: outset;
    margin-bottom: 10px;
}