.conteiner{
    width: 90%;
}
.submit{
    height: 52px;
    border-radius: 12px;
    width: 100%;
}
.gray {
    background-color: var(--grey1-color);
}
.orange{
    background-color: var(--orange100-color);
}
.lite{
    background-color: var(--grey5-color);
}
.line{
    border-top: outset;
    margin-bottom: 10px;
}