.main{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 4px 2px 4px;
gap: 9px;
height: 38px;
background: var(--orange15-color);
border-radius: 8px;
}

.main > a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90%;
    font-size: 15px;
    color: var( --grey2-color);
    cursor: pointer;
    text-decoration: none;
}

.main .active{
    background: var(--white-color);
    border-radius: 8px;
    color: var( --orange100-color);
}