.HomeTemplate{
    height: 100%;
    }
    .list{
        margin-top: 16px;
        padding: 0 15px;
    }
    .drw{
        position: fixed;
        left: 14.82px;
        bottom: 29px;
    
    }    