.btn {
    align-items: center;
    background-color: var(--grey1-color);
    height: 52px;
    border-radius: 12px;
    width: 100%;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #FFFFFF;
    justify-content: center;
}

.img {
    margin-left: 15px;
}

.con {
    padding: 12px 15px 12px 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 600px
}